<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body  >
<section class="banner d-flex justify-content-center align-items-center">
<div class="text-center">
    <h1 class="text text-light fw-bold">Smart Contact Management</h1>
    <h2 class="text text-light">Let's get Started</h2>
    <a
            class="btn btn-outline-primary btn-lg m-2 text-light "
            th:href="@{/login}"
            role="button"
            rel="nofollow"
            target="_blank"
    >Start </a
    >
</div>
</section>
</body>
</html>