<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace=(~{base::layout(~{::section})})>
<head>
  <meta charset="UTF-8">
  <title>signup</title>
  <script th:src="@{/Js/js.js}"></script>
  <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body  >
<section class="banner d-flex justify-content-center align-items-center">
  <div class="col-sm-0">


    <form novalidate action="" th:action="@{/do-register}" th:object="${user}" method="post">
      <div th:if="${session.message}"
           th:classappend="${session.message.type}"
           class="alert " role="alert">
          <p th:text="${session.message.content}"></p>


      </div>
      <div class="container justify-content-center " style="background-color: steelblue;height:80vh;width:65vh;">


        <div class="text-center">
          <img src=""  th:src="@{../Img/register.png}" alt="loginImage" style="height: 50px;width: 50px;">
          <h3 class="h3 text-light"> Register Here</h3>
        </div>
        <br/>
        <div class="form-group row " style="justify-content: center">
          <div class="col-sm-9">
            <input type="text"
                   name="name"
                   class="form-control form-control-sm "
                   th:classappend="${#fields.hasErrors('name')?'is-invalid': ''}"
                   placeholder=" Enter Name:"
                   th:value="${user.name}" />
            <div class="invalid-feedback" th:each="e:${#fields.errors('name')}" th:text="${e}">

            </div>

          </div>
        </div>

        <br/>
        <div class="form-group row " style="justify-content: center">
          <div class="col-sm-9">

              <input type="text"  name="bloodGroup"
                     class="form-control form-control-sm"
                     placeholder="bloodGroup"
                     th:value="${user.bloodGroup}"
              />

          </div>
        </div>
        <br/>
        <div class="form-group row " style="justify-content: center">
          <div class="col-sm-9">

              <input type="text" required name="role" class="form-control form-control-sm" placeholder="role"  th:value="${user.role}"/>

          </div>
        </div>
        <br/>
        <div class="form-group row " style="justify-content: center">
          <div class="col-sm-9">
            <input type="email"  name="email"
                   class="form-control form-control-sm"
                   th:classappend="${#fields.hasErrors('email')?'is-invalid':''}"
                   placeholder="Enter Email"
                   th:value="${user.email}"/>
            <div class="invalid-feedback"
                 th:each="e:${#fields.errors('password')}"
                 th:text="${e}"></div>
          </div>
        </div>
        <br/>
        <div class="form-group row " style="justify-content: center">
          <div class="col-sm-9">

            <input type="password" name="password"
                   class="form-control form-control-sm"
                   th:classappend="${#fields.hasErrors('password')? 'is-invalid' : ''}"
                   placeholder=" password"  />
            <div class="invalid-feedback"
                 th:each="e:${#fields.errors('password')}"
                 th:text="${e}">
             .
            </div>
          </div>
        </div>
        <div class="col-sm-9">
        <div class="form-group form-check d-flex align-items-center text-grey">
          <input type="checkbox" name="checkbox" class="form-check-input" id="checkbox" >
          <label for="checkbox" >Accept terms & conditions</label>
        </div>
        </div>
          <p class="text text-center text-info" >Already have an Account?<a th:href="@{/login}">Login</a> </p>

        <div class="justify-content-center">
        <div class="form-group row" style="justify-content: center">
          <div class="col-sm-4">
            <button class="btn btn-primary"  role="button">submit</button>
          </div>
        </div>
       </div>
    </div>
    </form>
  </div>
</section>
</body>
</html>